@media(max-width: 1150px) {
    .quem-somos.container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 45px;
        min-height: 0;
        margin: 170px 25px 70px;
    }

    .quem-somos .seta-indicativa {
        display: none;
    }

    .titulo1,
    .titulo2 {
        margin: 0 0 35px;
    }

    .nossos-clientes.container {
        margin: 70px 25px 100px;
    }

    .nossos-clientes .conteudo {
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    .nossos-clientes .paineis {
        margin: 0 0 25px;
    }

    .produtos {
        min-height: 0;
        margin: 50px 15px 100px;
    }

    .produtos .produto {
        width: 270px;
    }
}

@media(max-width: 960px) {
    .rodape {
        position: initial;
    }

    .rodape .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 25px 0;
    }
}

@media(max-width: 850px) {
    .cabecalho,
    .rodape {
        overflow: inherit;
    }

    .cabecalho .container {
        position: relative;
    }

    .cabecalho .logo {
        max-width: 200px;
    }

    .mobile-btn {
        width: 45px;
    }

    .cabecalho .container nav .mobile-btn {
        display: block;
        transition: .6s;
    }

    .cabecalho .container .menu {
        display: block;
        position: absolute;
        top: 65px;
        left: -35px;
        width: 100vw;
        height: 0;
        background-color: #007e9a;
        visibility: hidden;
        overflow-y: hidden;
        transition: .6s;
        z-index: 1000;
    }

    .cabecalho .container nav.ativo .menu {
        visibility: visible;
        height: 100vh;
    }

    .cabecalho .container .menu li {
        padding: 20px 15px;
        margin: 0 20px;
        border-bottom: 1px solid rgba(39, 29, 29, 0.255);
    }

    .cabecalho .container .menu li a {
        padding: 10px 15px;
    }

    .cabecalho .container .menu li a:hover {
        background-color: rgba(255, 255, 255, 0.255);
        text-decoration: none;
    }
}

@media(max-width: 685px) {
    .nossos-clientes .paineis {
        width: 450px;
        height: 350px;
    }   
}

@media(max-width: 560px) {
    .quem-somos .logo-cinza {
        max-width: 250px;
    }

    .titulo1,
    .titulo2 {
        font-size: 35px;
    }

    .nossos-clientes .paineis {
        width: 335px;
        height: 235px;
    } 

    .nossos-clientes .logo-clientes img {
        max-width: 150px;
    }

    .nossos-clientes .logo-clientes .logo3,
    .logo6 {
        margin: 0 50px;
    }

    .produtos .produto img {
        width: 250px;
    }
}