html,
body {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 62.5%;
    background-color: #f1f1f1;
    color: #484848;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 25px;
}

.cabecalho,
.rodape {
    background-color: #007e9a;
    color: #ffffff;
    padding: 25px 35px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.cabecalho .container,
.rodape .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho .logo {
    max-width: 270px;
}

.cabecalho .container nav {
    display: flex;
}

.cabecalho .container nav .mobile-btn {
    display: none;
}

.cabecalho .container nav .mobile-btn.ativo {
    transform: rotate(90deg);
}

.cabecalho .container .menu {
    display: flex;
    gap: 35px;
}

.cabecalho .container .menu li a {
    font-size: 1.5rem;
    padding: 5px;
}

.cabecalho .container .menu li a.selecionado {
    text-decoration: underline;
}

.cabecalho .container .menu li a:hover,
.email a:hover {
    text-decoration: underline;
}

.quem-somos.container {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 70px;
    min-height: 100vh;
}

.quem-somos .logo {
    max-width: 450px;
}

.quem-somos p {
    max-width: 450px;
    font-size: 1.6rem;
}

.quem-somos .seta-indicativa {
    font-size: 35px;
    color: #007e9a;
    position: absolute;
    bottom: 100px;
    left: 50%;
    animation: arrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes arrow {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.4;
    }

    100% {
        -webkit-transform: translateY(0.4em);
        opacity: 0.9;
    }
}

.nossos-clientes.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.nossos-clientes .paineis img {
    max-width: 530px;
    display: none;
}

.nossos-clientes .paineis .painel1.mostrar {
    display: block;
}

.nossos-clientes .setas {
    position: relative;
    display: flex;
    align-items: center;
}

.nossos-clientes .seta-esquerda,
.nossos-clientes .seta-direita {
    cursor: pointer;
    width: 25px;
    position: absolute;
}

.nossos-clientes .seta-esquerda {
    left: 5%;
}

.nossos-clientes .seta-esquerda.seta-desabilitada {
    opacity: .4;
    pointer-events: none;
}

.nossos-clientes .seta-direita {
    right: 5%;
}

.nossos-clientes .logo-clientes {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nossos-clientes .logo-clientes img {
    width: 200px;
    padding: 10px 0;
}

.nossos-clientes .logo-clientes .logo3,
.logo6 {
    margin: 0 100px;
}

.produtos {
    min-height: 80vh;
}

.produtos .itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    gap: 30px;
}

.produtos .produto {
    display: flex;
    width: 220px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.produtos .produto img {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

.produtos .produto img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.produto p {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px 0 0;
}

.rodape {
    flex-shrink: 0;
    bottom: 0;
    font-size: 1.4rem;
    padding: 10px 35px;
}

.rodape .localizacao,
.rodape .telefones,
.rodape .email {
    display: flex;
    align-items: center;
    font-style: italic;
}

.rodape .localizacao i,
.rodape .telefones i,
.rodape .email i {
    margin: 0 8px 0 0;
    font-size: 1.8rem;
}

.rodape .localizacao {
    max-width: 300px;
}

.rodape .telefones {
    max-width: 130px;
}

.rodape .redes-sociais i {
    font-size: 3.5rem;
    padding: 8px 11px;
}

.rodape .redes-sociais i:hover {
    color: #007e9a;
    background-color: #ffffff;
    border-radius: 50px;
}